*{
    padding-left: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.products li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}